// Fonts
/* @import url('https://fonts.googleapis.com/css?family=Nunito'); */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Delius+Swash+Caps&family=Roboto:wght@300&display=swap');
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

// Variables
@import 'variables';
@import 'mixins';
@import 'general';
@import 'size-space';
@import 'utilities';

// Partials
@import './partials/dashboard';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

img {
    max-width: 100%;
}

.current-image img {
    width: 200px;
}

a{

    text-decoration: none;

}

.card-header_ms{

    color: white;

    background-color: $green;

}

div.form-group{

    margin: 10px 0;

}

.btn_password{

    color: $primary_color;

    text-decoration: none;

    &:hover{

        color: $green;

    }

}
